In [3]:
import pandas as pd
import numpy as np
import seaborn
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix,roc_auc_score,accuracy_score

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
movie_data = pd.read_csv('C:/Users/srinu/Desktop/grouplens-movies.csv')

In [6]:
movie_data

,Movie Id,Title,Genres,Price
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,280
1,2,Jumanji (1995),Adventure|Children|Fantasy,190
2,3,Grumpier Old Men (1995),Comedy|Romance,150
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,210
4,5,Father of the Bride Part II (1995),Comedy,110
5,6,Heat (1995),Action|Crime|Thriller,130
6,7,Sabrina (1995),Comedy|Romance,120
7,8,Tom and Huck (1995),Adventure|Children,150
8,9,Sudden Death (1995),Action,120
9,10,GoldenEye (1995),Action|Adventure|Thriller,170
10,11,"American President, The (1995)",Comedy|Drama|Romance,200
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror,250
12,13,Balto (1995),Adventure|Animation|Children,230
13,14,Nixon (1995),Drama,90
14,15,Cutthroat Island (1995),Action|Adventure|Romance,150
15,16,Casino (1995),Crime|Drama,100
16,17,Sense and Sensibility (1995),Drama|Romance,85
17,18,Four Rooms (1995),Comedy,415
18,19,Ace Ventura: When Nature Calls (1995),Comedy,550
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller,75
20,21,Get Shorty (1995),Comedy|Crime|Thriller,120
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,280
22,23,Assassins (1995),Action|Crime|Thriller,350
23,24,Powder (1995),Drama|Sci-Fi,300
24,25,Leaving Las Vegas (1995),Drama|Romance,360
25,26,Othello (1995),Drama,250
26,27,Now and Then (1995),Children|Drama,280
27,28,Persuasion (1995),Drama|Romance,280
28,29,"City of Lost Children, The (Cit√© des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi,450
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama,270
...,...,...,...,...
9095,159690,Teenage Mutant Ninja Turtles: Out of the Shado...,Action|Adventure|Comedy,170
9096,159755,Popstar: Never Stop Never Stopping (2016),Comedy,200
9097,159858,The Conjuring 2 (2016),Horror,250
9098,159972,Approaching the Unknown (2016),Drama|Sci-Fi|Thriller,230
9099,160080,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi,90
9100,160271,Central Intelligence (2016),Action|Comedy,150
9101,160438,Jason Bourne (2016),Action,100
9102,160440,The Maid's Room (2014),Thriller,85
9103,160563,The Legend of Tarzan (2016),Action|Adventure,415
9104,160565,The Purge: Election Year (2016),Action|Horror|Sci-Fi,550
9105,160567,Mike & Dave Need Wedding Dates (2016),Comedy,75
9106,160590,Survive and Advance (2013),(no genres listed),120
9107,160656,Tallulah (2016),Drama,280
9108,160718,Piper (2016),Animation,350
9109,160954,Nerve (2016),Drama|Thriller,300
9110,161084,My Friend Rockefeller (2015),Documentary,360
9111,161155,Sunspring (2016),Sci-Fi,250
9112,161336,Author: The JT LeRoy Story (2016),Documentary,280
9113,161582,Hell or High Water (2016),Crime|Drama,280
9114,161594,Kingsglaive: Final Fantasy XV (2016),Action|Adventure|Animation|Drama|Fantasy|Sci-Fi,450
9115,161830,Body (2015),Drama|Horror|Thriller,270
9116,161918,Sharknado 4: The 4th Awakens (2016),Action|Adventure|Horror|Sci-Fi,270
9117,161944,The Last Brickmaker in America (2001),Drama,190
9118,162376,Stranger Things,Drama,150
9119,162542,Rustom (2016),Romance|Thriller,210
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,110
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,130
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,120
9123,164977,The Gay Desperado (1936),Comedy,150
9124,164979,"Women of '69, Unboxed",Documentary,120

In [7]:
movie_data = movie_data[['Genres','Price']]
movie_data

                                               Genres  Price
0         Adventure|Animation|Children|Comedy|Fantasy    280
1                          Adventure|Children|Fantasy    190
2                                      Comedy|Romance    150
3                                Comedy|Drama|Romance    210
4                                              Comedy    110
5                               Action|Crime|Thriller    130
6                                      Comedy|Romance    120
7                                  Adventure|Children    150
8                                              Action    120
9                           Action|Adventure|Thriller    170
10                               Comedy|Drama|Romance    200
11                                      Comedy|Horror    250
12                       Adventure|Animation|Children    230
13                                              Drama     90
14                           Action|Adventure|Romance    150
15                                        Crime|Drama    100
16                                      Drama|Romance     85
17                                             Comedy    415
18                                             Comedy    550
19                 Action|Comedy|Crime|Drama|Thriller     75
20                              Comedy|Crime|Thriller    120
21                Crime|Drama|Horror|Mystery|Thriller    280
22                              Action|Crime|Thriller    350
23                                       Drama|Sci-Fi    300
24                                      Drama|Romance    360
25                                              Drama    250
26                                     Children|Drama    280
27                                      Drama|Romance    280
28             Adventure|Drama|Fantasy|Mystery|Sci-Fi    450
29                                        Crime|Drama    270
...                                               ...    ...
9095                          Action|Adventure|Comedy    170
9096                                           Comedy    200
9097                                           Horror    250
9098                            Drama|Sci-Fi|Thriller    230
9099                      Action|Comedy|Horror|Sci-Fi     90
9100                                    Action|Comedy    150
9101                                           Action    100
9102                                         Thriller     85
9103                                 Action|Adventure    415
9104                             Action|Horror|Sci-Fi    550
9105                                           Comedy     75
9106                               (no genres listed)    120
9107                                            Drama    280
9108                                        Animation    350
9109                                   Drama|Thriller    300
9110                                      Documentary    360
9111                                           Sci-Fi    250
9112                                      Documentary    280
9113                                      Crime|Drama    280
9114  Action|Adventure|Animation|Drama|Fantasy|Sci-Fi    450
9115                            Drama|Horror|Thriller    270
9116                   Action|Adventure|Horror|Sci-Fi    270
9117                                            Drama    190
9118                                            Drama    150
9119                                 Romance|Thriller    210
9120                          Adventure|Drama|Romance    110
9121                  Action|Adventure|Fantasy|Sci-Fi    130
9122                                      Documentary    120
9123                                           Comedy    150
9124                                      Documentary    120

[9125 rows x 2 columns]

In [6]:
movie_x = movie_data[['Genres']]
movie_y = movie_data[['Price']]

In [7]:
xtrain,xtest,ytrain, ytest = train_test_split(movie_x,movie_y,test_size=0.20)

In [8]:
xtrain.head()

                                Genres
9115             Drama|Horror|Thriller
8083              Comedy|Drama|Romance
1006  Crime|Film-Noir|Mystery|Thriller
13                               Drama
8606               Action|Comedy|Crime

In [9]:
GenresEncoder = preprocessing.LabelEncoder()
GenresEncoder.fit(pd.DataFrame(xtrain[['Genres']]))
xtrain['Genres']=GenresEncoder.transform(xtrain[['Genres']])

In [10]:
Genresscaler = StandardScaler()
Genresscaler.fit(pd.DataFrame(xtrain[['Genres']]))
xtrain['Genres']= Genresscaler.transform(xtrain[['Genres']])

In [11]:
xtrain.head()

        Genres
9115  0.851542
8083  0.144289
1006  0.542118
13    0.669817
8606 -1.903799

In [12]:
xtest.head()

                     Genres
6795                  Drama
2717           Action|Drama
5     Action|Crime|Thriller
8996         Crime|Thriller
3337       Children|Musical

In [13]:
GenresEncoder.fit(pd.DataFrame(xtest[['Genres']]))
xtest['Genres']=GenresEncoder.transform(xtest[['Genres']])

In [14]:
Genresscaler.fit(pd.DataFrame(xtest[['Genres']]))
xtest['Genres']= Genresscaler.transform(xtest[['Genres']])

In [15]:
xtest.head()

        Genres
6795  0.706083
2717 -1.503995
5    -1.513731
8996  0.618459
3337 -0.121479

In [16]:
ytrain.head()

      Price
9115    270
8083     85
1006     85
13       90
8606    270

In [17]:
ytest.head()

      Price
6795    550
2717    550
5       130
8996    270
3337    120

In [18]:
logistic_regression = LogisticRegression()

In [19]:
logistic_regression.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [20]:
#Predict on test data
ypred = logistic_regression.predict(xtest)

In [21]:
ypred

array([120, 120, 120, ..., 120, 120, 120], dtype=int64)

In [22]:
#Accuracy
print(accuracy_score(ytest,ypred))

0.0958904109589041

**logistic regression is  possible to find the best accuracy**

In [23]:
decision_tree = tree.DecisionTreeClassifier()

In [24]:
decision_tree.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
#Check on test data
ypred = decision_tree.predict(xtest)
ypred_prob = decision_tree.predict_proba(xtest)
print(accuracy_score(ytest,ypred))

0.07616438356164383

**decision tree is possible to find good accuracy**

In [26]:
linear_regression = LinearRegression()

In [27]:
linear_regression.fit(pd.DataFrame(xtrain), pd.DataFrame(ytrain))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [28]:
yy_pred = linear_regression.predict(pd.DataFrame(xtest))

In [29]:
yy_pred

array([[223.29440073],
       [223.32478998],
       [223.32492385],
       ...,
       [223.28757319],
       [223.32853843],
       [223.30537834]])

In [30]:
print("Mean squared error : %.1f" % mean_squared_error(ytest,yy_pred))

Mean squared error : 12783.0

In [31]:
print('R2 Score : %.2f' % r2_score(ytest,yy_pred))

R2 Score : -0.00

**linear Regression is not possible to find the accuracy**

In [32]:
random_forest = RandomForestClassifier()
random_forest.fit(xtrain,ytrain)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [33]:
Y_pred=random_forest.predict(xtest)
Y_pred_prob=random_forest.predict_proba(xtest)
print(accuracy_score(ytest,Y_pred))

0.07452054794520548

**Random Forest is not possible to find the best accuracy**

# Therefore after using all the models, the logistic regression gives the best accuracy